:root {
  --gradient: linear-gradient(
    45deg,
    #14183b,
    #2c143d,
    #2e5d8b,
    #62509f,
    #4b2e8a,
    #4c4081
  );
}

.gradient-animation {
  background-size: 900%;
  background-image: var(--gradient);
  animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
